<div class="jumbotron">
    <h1 class="text-danger">Player Listing</h1>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>TeamID</th>
            <th>Bidding Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of players">
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
                <td>{{p.teamId}}</td>
                <td>{{p.biddingPrice}}</td>
                <!-- <td>
                    <a [routerLink] = "['/find/',m.id]">Details</a>
                </td> -->
                <td>
                    <a [routerLink] = "['/editplayer/',p.id]">Edit</a>
                </td>
                <td>
                    <a [routerLink] = "['/delete/',p.id]">Delete</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>