<h3>Player List</h3>
<table class="table">
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>category</th>
    <th>id</th>
    <th>BiddingPrice</th>
 
    <tr *ngFor="let m of players">
        <td>{{m.id}}</td>
        <td>{{m.name}}</td>
        <td>{{m.age}}</td>
        <td>{{m.category}}</td>
        <td>{{m.teamId}}</td>
        <td>{{m.biddingPrice}}</td>
        <td><a [routerLink]="['/editplayer/',m.id]">EDIT</a></td>
       
 
 
        <td><a [routerLink]="['/playerbyid/',m.id]">Details</a></td>
        <td><a [routerLink]="['/deleteplayer/',m.id]">DELETE</a></td>
    </tr>
</table>
 
<td><a routerLink="/addplayer">ADD</a></td>
<li>
    <button>Edit</button>
    <button>Delete</button>
</li>

<!-- <p id="playerBiddingPrice">{{newPlayer.biddingPrice}}</p> -->