<div>
    <form [formGroup] = "teamform">
        <div>
            <label for="teamName">Name</label>
            <input type="text" id="teamName" name="teamName" formControlName="teamName" class="form-control">
        </div>

        <div>
            <label for="maximumBudget">Maximum Budget</label>
            <input type="number" id="maximumBudget" name="maximumBudget" formControlName="maximumBudget" class="form-control">
        </div>

        <p>
            <button type="submit" (click)="onSave()"  class="btn btn-success">Save</button>
        </p>

    </form>
</div>
