<div class="container">
    <div class="jumbotron">
    <h2>Team List</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of teamdata">
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>
                    <a [routerLink] = "['/find',t.id]">Details</a> &nbsp;
                    <a [routerLink] = "['/edit',t.id]">Edit</a> &nbsp;
                    <a [routerLink] = "['/delete',t.id]">Delete</a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
