<div class="container">
    <div class="jumbotron">
    <h2>IPL Listing</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Category</th>
            <th>Bidding Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let ts of t">
                <td>{{ts.id}}</td>
                <td>{{ts.name}}</td>
                <td>
                    <a [routerLink] = "['/find',ts.id]">Details</a> &nbsp;
                    <a [routerLink] = "['/edit',ts.id]">Edit</a> &nbsp;
                    <a [routerLink] = "['/delete',ts.id]">Delete</a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
